<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="model" value="$(arg model)"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
  </node>
  <node pkg="aruco_detect" name="aruco_detect" type="aruco_detect" output="screen" >
  </node>
  <node pkg="wheel_control" type="wheel_control_node.py" name="wheel_control_node"  output="screen">
  </node>
   <node pkg="decidepy" type="decide_node.py" name="decide_node"  output="screen">
  </node>
</launch>
